						<!-- start of main navigation -->
						<!-- <ul *ngIf ="redirection!=''" class="nav navbar-nav main-nav"> -->
							<!-- <li> -->
								<!-- <a routerLink="/home/dashboard" title="Home" routerLinkActive="active"><span class="ico-home"></span>Home</a> -->
							<!-- </li> -->
							<!-- <li *ngFor = "let menu of sessionData.mainMenu"> -->
								<!-- <a routerLink="/purchase" title="Purchase" *ngIf="menu == 'Purchase'" routerLinkActive="active"><span class="ico-purchase"></span>Purchase</a> -->
								<!-- <a routerLink="/home/dashboard" title="Sale" *ngIf="menu == 'Sale'"><span class="ico-sale"></span>Sale</a> -->
								<!-- <a routerLink="/home/dashboard" *ngIf="menu == 'Inventory'" title="Inventory"><span class="ico-inventory"></span>Inventory</a> -->
								<!-- <a routerLink="/store" title="Store" *ngIf="menu == 'Store'" routerLinkActive="active"><span class="ico-store"></span>Store</a> -->
								<!-- <a routerLink="/hrms" title="HRMS" *ngIf="menu == 'HRMS'" routerLinkActive="active"><span class="ico-hrms"></span>HRMS</a> -->
								<!-- <a routerLink="/home/dashboard" *ngIf="menu == 'Quality'" title="Quality"><span class="ico-quality"></span>Quality</a> -->
								<!-- <a routerLink="/home/dashboard" *ngIf="menu == 'Logistics'" title="Logistics"><span class="ico-logistics"></span>Logistics</a> -->
								<!-- <!-- <a href="http://{{redirection}}:2080/vow-stg/production.php?auth_key={{sessionData.authkey}}" *ngIf="menu == 'Production'" title="Production"><span class="ico-production"></span>Production</a> --> 
								<!-- <a href="http://{{redirection}}:2080/vow-stg-njm/production.php?auth_key={{sessionData.authkey}}" *ngIf="menu == 'Production'" title="Production"><span class="ico-production"></span>Production</a> -->
								<!-- <a routerLink="/home/dashboard" *ngIf="menu == 'Project'" title="Project"><span class="ico-project"></span>Project</a> -->
								<!-- <!-- <a href="http://{{redirection}}:2080/vow-stg/security.php?auth_key={{sessionData.authkey}}" *ngIf="menu == 'Security'" title="Security" routerLinkActive="active"><span class="ico-security"></span>Security</a> --> 
								<!-- <a href="http://{{redirection}}:2080/vow-stg-njm/security.php?auth_key={{sessionData.authkey}}" *ngIf="menu == 'Security'" title="Security" routerLinkActive="active"><span class="ico-security"></span>Security</a> -->
								<!-- <a routerLink="/home/dashboard" *ngIf="menu == 'Data'" title="Data"><span class="ico-data"></span>Data</a> -->
								<!-- <a routerLink="/reports/indent" *ngIf="menu == 'Reports'" title="Reports" routerLinkActive="active"><span class="ico-report"></span>Reports</a> -->
								<!-- <a routerLink="/masterscreen" *ngIf="menu == 'masterscreen'" title="Master" routerLinkActive="active"><span class="ico-master"></span>Master Screen</a> -->
								<!-- <a routerLink="/jute" *ngIf="menu == 'Jute'" title="Jute" routerLinkActive="active"><span class="ico-jute"></span>Jute</a> -->
							<!-- </li> -->
						<!-- </ul> -->
						<!-- <!--end of main navigation--> 