<h2>
	Create Item Group
</h2>

<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>

	<form role="form" #createItemgroupForm="ngForm" >
					
				<div class="content-heading-box">
					<h3>Create Item Group</h3>
					<div class="row form-field-style text-center">
							<div class="col-md-6">
									<div class="form-group row">
											<div class="col-md-4 text-left">
												<label>Group Code<span class="start">*</span></label>
											</div>
											<div class="col-md-8">
												<input type="text" name="id" required pattern="[a-zA-Z0-9][a-zA-Z0-9 ]+" maxlength="3" [(ngModel)] = "itemgroupCreateModel.id" class="form-control">
											</div>
									</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Active Flag</label>
										</div>
										<div class="col-md-8">
											<input type="text" name="activeFlag" required pattern="[a-zA-Z0-9]" maxlength="1"  value="Y" disabled = "itemgroupCreateModel.activeFlag"  class="form-control">
										</div>
								</div>
						</div>
					</div>
					<div class="row form-field-style text-center">
						<div class="col-md-6">
							<div class="form-group row">
									<div class="col-md-4 text-left">
										<label>Description<span class="start">*</span></label>
									</div>
									<div class="col-md-8">
										<textarea name="grpDsc" required maxlength="50" [(ngModel)] = "itemgroupCreateModel.grpDsc" class="form-control"></textarea>
								
									</div>
							</div>
						</div>
				
						<div class="col-sm-6">
							<div class="form-group row">
								<div class="col-md-4 text-left">
									<label>Department<span class="start">*</span></label>
								</div>
								<div class="col-md-8">
									<div class="list-menu mukam-master" >
											
										<ul class="all-menus">
											<li *ngFor = "let department of departmentList;">
												
										 <input type="checkbox" [value]="department.id" name="department" required
											(change)="ondepartmentCheckbox(department,$event)"/>
													{{department.departmentName}}
											 </li>
										</ul>
								
																										
									</div>
								</div>						
							</div>
													
											
					</div>
				</div>
				<div class="row form-field-style text-center">
					
						<div class="col-md-12 text-center">
								<button class="btn btn-primary" [disabled] = "!createItemgroupForm.form.valid || !departmentSelected" (click) = "createItemgroupmaster()"> Create</button>
						</div>
						
					</div>
				
				</div>
				<div class="content-heading-box">
					<h3>Item Group's List</h3>
					<ag-grid-angular class="ag-fresh" [gridOptions]="gridOptions" [rowData]="itemgroupList"></ag-grid-angular>
					
				</div>
					
				</form>
				
				
				<div class="readingArea" *ngIf = "conditionClicked != ''">
						<div class="reading-popup reading-popup-master">
							<div class="popupcontent">
								<div class="list-menu mukam-master">
									<ul class="all-menus">
										<span>
											<li *ngFor = "let itemgroupLists of itemgroupListid.department;">
											<input type="checkbox" [value]="itemgroupLists.id" [checked]="itemgroupLists.isMapped == 'true'" (change)="onCheckboxChange($event)">
													{{itemgroupLists.deptName}}
													
											 </li>
											</span>
										</ul>
									</div>
							</div>
							<div class="popupfooter text-right"><button type="button" class="btn btn-sm btn-secondary" (click)="closeConditionDialog()">Cancel</button> <button type="button" class="btn btn-sm btn-success" (click)="updateCondition()">Save</button></div>
						</div>
						
					</div>
		