				
				<h2>
				<a [routerLink]="['/store']" title='Store' >Store</a>
				>
				<a [routerLink]="['/store/debitCredit']" title='Debit / Credit Note ' >Debit / Credit Note </a>
				>
				Debit / Credit Note Details</h2>
				
				<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
				
				<div class="content-heading-box printableContent" *ngIf = "drcrdetaildata && drcrdetaildata !='undefined'">
					<!--<h3>Added Items</h3>-->
					<div class="row">
						<div class="col-md-4">
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrtype">DR/CR Type</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.adjustmentType}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="srno">SR No.</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.grnNo}}</span>
								</div>
							</div>
							
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrquan">Quantity</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.adjustmentQunatity}} {{drcrdetaildata.quantityUnit.name}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="supcd">DR/CR Value</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.adjustmentValue | number : '1.0-2'}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrno">DR/CR No.</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.id}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrno">SR Date</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.grnDate  | date:'mediumDate'}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="supcd">Supplier</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.supplierCode}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="finyr">Fin. Year</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.financialYear}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrdate">DR/CR Date</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.adjustmentDate  | date:'mediumDate'}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="drcrdate">SR Fin. Year</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.financialYear}}</span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="itmcd">Item Code</label></div>
								<div class="col-md-8">
								<span class="form-controll">{{drcrdetaildata.item.id}}</span>
								</div>
							</div>
							
						</div>
					</div>	
					<div class="row">
						<div class="col-md-12">
							<label for="finyr">Item Desc.</label>
							<div>{{drcrdetaildata.item.legacyItemCode+"_"+drcrdetaildata.item.name}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="finyr">Remarks</label>
							<div>{{drcrdetaildata.reason}}</div>
						</div>
					</div>
				</div>
				
				<!--<p>&nbsp;</p>
					<div class="row nonprintableContent">
						<div class="col-md-12 text-center">
							<button  class="btn btn-danger" title="Cancel Purchase Order" (click)="statusChange(6)"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
					</div>-->
				
				