<h2>
	Create State
</h2>
<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
	<form role="form" #createSateForm="ngForm" >
					
				<div class="content-heading-box">
					<h3>Create State</h3>
					<div class="row form-field-style">
						<div class="col-md-6">
								<div class="form-group row">
										<div class="col-md-5">
											<label>Country Name<span class="start">*</span></label>
										</div>
										<div class="col-md-7">
											<select class="form-control" name="countryName" [(ngModel)] = "stateCreateModel.countryId" >
												<option value="">--Please Select--</option>
											<option *ngFor = "let country of countryList;" [value]="country.id">{{country.countryName}}</option>
												   
										</select>
										</div>
								</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
									<div class="col-md-5">
										<label>State<span class="start">*</span></label>
									</div>
									<div class="col-md-7">
										<input type="text" name="stateName" class="form-control" required pattern="[a-zA-Z][a-zA-Z ]+" maxlength="50" [(ngModel)] = "stateCreateModel.stateName">

										
									</div>
							</div>
					</div>
					
					
					
						<div class="col-md-12 text-center">
								<button class="btn btn-primary" [disabled] = "!createSateForm.form.valid" (click) = "createState()"> Create</button>
						</div>
						
					</div>
				
				</div>
				<div class="content-heading-box">
					<h3>State's List</h3>
		
					<ag-grid-angular class="ag-fresh" [columnDefs] = "allocationColumnDef" [gridOptions]="gridOptions" [rowData]="stateList"></ag-grid-angular>
				</div>
		
			
				</form>
				
				
		