<p *ngIf="errorMsg">&nbsp;</p>
<div *ngIf="errorMsg" class="form-group">
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		{{ errorMsg }}
	</div>
</div>
<p *ngIf="successMsg">&nbsp;</p>
<div *ngIf="successMsg" class="form-group">
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		{{ successMsg }}
	</div>
</div>



<h2>
	Jute Entry Register
</h2>
	<form role="form">
			<div class="content-heading-box create-section">
					<h3>Jute Entry Register</h3>
					<div class="form-field-style text-center">
						<div class="row">
								<div class="col-md-6">
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Challan No<span class="start">*</span></label>
												</div>
												<div class="col-md-8">
														
													<input type="text" name="challanNo" pattern="[0-9 ]*" 
													required maxlength="10" class="form-control" [(ngModel)] = "juteCreateModel.chalanNo" [value]="allchallanNo.chalanNo">
												</div>
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Challan Date<span class="start">*</span></label>
												</div>
												<div class="col-md-8">
													<my-date-picker name="Mydate" [options]="myDatePickerOptions" required [(ngModel)] = "date"></my-date-picker>
													
												</div>
										</div>
										<div class="form-group row">
											
												<div class="col-md-4 text-left">
														<label>PO NO <span class="start">*</span></label>
													</div>
												<div class="col-md-8">
														<input type="text" name="poNo"  [disabled] = "!disable" pattern="[a-zA-Z0-9 _ ]*"
														 maxlength="25" [(ngModel)] = "juteCreateModel.poNo" [value]="allchallanNo.poNo"
														 
														 >
												</div>
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Supplier/Broker<span class="start">*</span></label>
												</div>
											
												 <div class="col-md-8" >
													
													
														<input type="text" name="brokerName" pattern="[a-zA-Z0-9 _ ]*"
														required maxlength="25" [disabled] = "!disable" [(ngModel)] = "juteCreateModel.supplierName" 
														[value]="allchallanNo.supplierName">
														
															
												</div> 
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Supplier Address</label>
												</div>
												<div class="col-md-8">
														<input type="text" [(ngModel)]="juteCreateModel.suppAddress"  [disabled] = "!disable" [value]="allchallanNo.suppAddress" name="brokerAddress" class="form-control">

												</div>
											
												
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Mukam</label>
												</div>
												<div class="col-md-8">
													<input type="text" [(ngModel)]="juteCreateModel.mukam"  [disabled] = "!disable" [value]="allchallanNo.mukam" name="mukam" class="form-control">
																
														
												</div>
												
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Financial Year<span class="start">*</span></label>
												</div>
												<div class="col-md-8">
														<input type="text" [(ngModel)]="juteCreateModel.finYear" [value]="allchallanNo.finYear" name="finYear" class="form-control">
													
	
												</div>
												
										</div>
								</div>
								<div class="col-md-6">
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Transporter<span class="start">*</span></label>
												</div>
												<div class="col-md-8">
														<input type="text" name="transporter"  pattern="[a-zA-Z ]*" 
														required maxlength="100" class="form-control" [(ngModel)] = "juteCreateModel.transporter"
														[value]="allchallanNo.transporter">
												</div>
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Vehicle No <span class="start">*</span></label>
												</div>
												<div class="col-md-8">
														<input type="text" name="vehicleNo" required maxlength="24" class="form-control" [(ngModel)] = "juteCreateModel.vehicleNo"
														 [value]="allchallanNo.vehicleNo">
												</div>
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Driver name<span class="start">*</span></label>
												</div>
												<div class="col-md-8">
														<input type="text" name="driverName"  pattern="[a-zA-Z ]*" 
														required maxlength="50" class="form-control" [(ngModel)] = "juteCreateModel.driverName"
														[value]="allchallanNo.driverName">
												</div>
										</div>
										<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Tare Weight</label>
												</div>
												<div class="col-md-7">
														<input type="number" name="netWeight" maxlength="100" 
														class="form-control number-control" [(ngModel)] = "juteCreateModel.netWeight"
														[value]="allchallanNo.netWeight" (ngModelChange)="actulWeight()">
												</div>
												<div class="col-md-1">
													<label>Kgs</label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Gross Weight</label>
												</div>
												<div class="col-md-7">
														<input type="number" name="grossWeight"  
														maxlength="100" class="form-control number-control" [(ngModel)] = "juteCreateModel.grossWeight"
														[value]="allchallanNo.grossWeight"  [disabled]="disabled" (ngModelChange)="actulWeight()">
												</div>
												<div class="col-md-1">
													<label>Kgs</label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-md-4 text-left">
													<label>Actual Weight</label>
												</div>
												<div class="col-md-7">
														<input type="text" name="actualWeight"  pattern="[0-9 ]*" maxlength="100" 
														class="form-control" [disabled]="!disable" [(ngModel)] = "juteCreateModel.actualWeight"
														[value]="allchallanNo.actualWeight" >
												</div>
												<div class="col-md-1">
													<label>Kgs</label>
												</div>
											</div>
											<div class="form-group row">
													<div class="col-md-4 text-left">
														<label>Challan Weight</label>
													</div>
													<div class="col-md-7">
															<input type="text" name="challanWeight"  pattern="[0-9 ]*" maxlength="100" 
															class="form-control" [value]="allchallanNo.challanWeight" [(ngModel)] = "juteCreateModel.challanWeight">
													</div>
													<div class="col-md-1">
														<label>Kgs</label>
													</div>
												</div>

								</div>
						</div>
						<div class="row">
								<div class="col-sm-12" *ngIf = "polineitemsdetails">
										<table class="table">
												<thead>
													<tr>
													
														<th>ADVISED JUTE TYPE</th>
														<!-- <th>ACTUAL JUTE TYPE</th> -->
														<th>ADVISED QUALITY</th>
														<th>ACTUAL QUALITY</th>
														<th>RECEIVED TYPE</th>
														<th>ADVISED QUANTITY</th>
														<th>ACTUAL QUANTITY</th>
														<th>UOM</th>
														<th>REMARKS</th>
														<th>IS PO AMMENT REQUIRED</th>
														
													</tr>
												   </thead>
												<tbody>
												<tr *ngFor ="let ponoallDatas of polineitemsdetails;let i = index;">
													<td>{{ponoallDatas.advisedJuteTyp}}</td>
													<td>{{ponoallDatas.advisedQuality}}</td>

													<!-- <td>{{ponoallDatas.actualJuteTyp}}</td> -->
													<td>
														<input type="text" class="form-control" name="actualQuality{{i}}" [(ngModel)] = "ponoallDatas.actualQuality" [value]="ponoallDatas.actualQuality">
													
													</td>
													<td>{{ponoallDatas.receivedIn}}</td>
													<td>{{ponoallDatas.advisedQuantity}}</td>

													<!-- <td>{{ponoallDatas.recievedType}}</td> -->
													

													<td>
															<input type="text" class="form-control" name="actualQuantity{{i}}" [(ngModel)] = "ponoallDatas.actualQuantity" [value]="ponoallDatas.actualQuantity">
														<!-- {{ponoallDatas.actualQuantity}} -->
													</td>
													<td>{{ponoallDatas.uom}}</td>
													<td><input type="text" class="form-control" name="remarks{{i}}" [(ngModel)] = "ponoallDatas.remarks" [value]="ponoallDatas.remarks"></td>

													<td><input type="checkbox" name="isPOAmment{{i}}" [(ngModel)] = "ponoallDatas.isPOAmment"
														[checked]="ponoallDatas.isPOAmment">
														<!-- {{ponoallDatas.isPOAmment}} -->
													</td>
													

													
												
												
												</tr>
												</tbody>
											</table>
								</div>
							</div>
					</div>
				</div>
		
				<div class="row form-field-style createbtn text-center">
					<button class="btn btn-primary" (click) = "update()">UPDATE</button>
					<button class="btn btn-primary" routerLink="/Security/juteregister" (click) = "out()" >OUT</button>
				</div>
				</form>
			
				
		