				<h2>Store Issue</h2>
				
				<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
				
				<div class="content-heading-box">
					<h3>Good Issue Header</h3>
					<div class="row form-field-style">
					<div class="col-sm-6">
						<div class="row form-group" *ngIf="myTranTypeOption.length > 0">
								<div class="col-md-4"><label>Transaction Type</label></div>
								<div class="col-md-8">
									<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="myTranTypeOption" [(ngModel)]="issueModel.tranType" name="trantype" (selected)="tranTypeChange()" (removed)="tranTypeChange()"></ng-select>
								</div>
							</div>
							<div class="row form-group" *ngIf="departmentsOptions.length > 0">
								<div class="col-md-4"><label for="itemGroup">Department<span class="start">*</span></label></div>
								<div class="col-md-8">
								<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="departmentsOptions" [(ngModel)]="issueModel.selectedDepartment" name="dept" (selected)="departmentChange($event)" (removed)="departmentChange($event)"></ng-select>
								</div>
							</div>
							<div class="row form-group">
							<div class="col-md-4"><label for="itemGroup">Lot No.</label></div>
							<div class="col-md-8">
								<input type="text" class="form-control" name="lotno" [(ngModel)] = "issueModel.lotno" pattern="^[0-9]\d*$"> 
							</div>
						</div>
							
					</div>
					<div class="col-sm-6">
						<div class="row form-group" *ngIf="expTypeOption.length > 0">
							<div class="col-md-4"><label for="itemGroup">Exp Type<span class="start">*</span></label></div>
							<div class="col-md-8">
								<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="expTypeOption" [(ngModel)]="issueModel.expType" name="expType" required></ng-select>
							</div>
						</div>
						<div class="row form-group" *ngIf="costCenteroption.length > 0">
							<div class="col-md-4"><label for="itemGroup">Cost Center<span class="start">*</span></label></div>
							<div class="col-md-8">
								<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="costCenteroption" [(ngModel)]="issueModel.costCenter" name="costCenter" required></ng-select>
							</div>
						</div>
						<div class="row form-group" *ngIf="issueModel.tranType == 'l'">
								<div class="col-md-4"><label for="itemGroup">Loan Unit<span class="start">*</span></label></div>
								<div class="col-md-8">
								<input type="text" class="form-control" name="dept" [(ngModel)] = "issueModel.selectedLoanUnit" required> 
								</div>
						</div>
					</div>
					</div>
				</div>
				
				
				<!--add item form-->
				<div class="content-heading-box" *ngIf="issueModel.tranType != '' && issueModel.selectedDepartment != ''">
					<form role="form" #createIssue="ngForm">
					<h3>Search Options</h3>
					<div class="row form-field-style">
						
						<div class="col-md-6">
							<div class="form-group row" *ngIf="itemGroupOption.length > 0">
								<div class="col-md-4"><label for="itemGroupSelect">Item Group<span class="start">*</span></label></div>
								<div class="col-md-8">
								<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="itemGroupOption" [(ngModel)]="issueModel.selectedItemGroup" name="itemGrp" (selected)="loadItemDesc($event)" (removed)="loadItemDesc($event)"></ng-select>
								</div>
							</div>
							<div class="form-group row" *ngIf = "issueModel.selectedItemGroup != '' && myOptions.length > 0">
								<div class="col-md-4"><label for="itemDesc">Item Description<span class="start">*</span></label></div>
								<div class="col-md-8">
								<ng-select [allowClear]="false" placeholder="Please Select" [multiple]="false" [(options)]="myOptions" [(ngModel)]="issueModel.selectedItem" name="itemDesc" (selected)="generateStock($event)" (removed)="generateStock($event)"></ng-select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row form-group" *ngIf="StockUnit != 'undefined' && issueModel.selectedItem != ''">
								<div class="col-md-4"><label for="itemGroup">Stock</label></div>
								<div class="col-md-8">
									<span class="form-control">{{Stock}}</span>
								</div>
							</div>
						</div>
					</div>
				<p>&nbsp;</p>
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-primary" [disabled] = "issueModel.selectedItemGroup == '' || issueModel.selectedItem == '' || issueModel.selectedDepartment == '' || !createIssue.form.valid" (click) = "searchStock()">Search</button>
						</div>
					</div>
					</form>
				</div>
				
				<div class="content-heading-box" *ngIf = "searchResult.length > 0">
					<h3>Search Result</h3>
					<div class="row form-group">
								<div class="col col-xs-8">
								</div>
								<div class="col col-xs-4 text-right"><span class="glyphicon glyphicon-search"></span>&nbsp;<input style="width:auto;"type="text" name="searchIndent" (keyup)="onQuickFilterChanged($event)" placeholder="Search"></div>
							</div>
					<ag-grid-angular class="ag-fresh" [columnDefs] = "columnDef" [gridOptions]="gridOptions" [rowData]="searchResult"></ag-grid-angular>
					<p>&nbsp;</p>
					<div class="row">
						<div class="col-md-12 text-center"><button class="btn btn-primary" [disabled] = "searchSelection.length == 0" (click) = "addItem()">Add to Issue</button></div>
					</div>
				</div>
				
				<div class="content-heading-box" *ngIf = "addedItems.length > 0">
					<h3>Added Items</h3>
					<div class="row form-group">
								<div class="col col-xs-8">
								</div>
								<div class="col col-xs-4 text-right"><span class="glyphicon glyphicon-search"></span>&nbsp;<input style="width:auto;"type="text" name="searchIndent" (keyup)="onQuickFilterChanged($event)" placeholder="Search"></div>
							</div>
					<ag-grid-angular class="ag-fresh" [columnDefs] = "columnDefaddeditem" [gridOptions]="gridOptionaddeditem" [rowData]="addedItems"></ag-grid-angular>
					<p>&nbsp;</p>
					<div class="row">
						<div class="col-md-12 text-center"><button class="btn btn-primary" [disabled] = "addedItems.length == 0" (click) = "createIssue()">Create Issue</button></div>
					</div>
				</div>
				
				
				
		