<h2>
	<!-- <a href="/payroll" ng-reflect-router-link="/payroll" routerlink="/payroll">Payroll</a>
	> Create Parameter -->
	Create Role Details
</h2>
<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
	<form role="form" #creatRoleForm="ngForm" >
					
				<div class="content-heading-box">
					<h3>Create Role Details</h3>
					
						
					<div class="row form-field-style">

							<div class="col-md-6">
									
									<div class="form-group row">
										<div class="col-md-5">
											<label>Role<span class="start">*</span></label>
										</div>
										<div class="col-md-7">
											<input type="text" name="role" pattern="[a-zA-Z][a-zA-Z ]+" maxlength="25" [(ngModel)] = "roledetailsCreateModel.role" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									
									<div class="form-group row">
										<div class="col-md-5">
											<label>Is Enable<span class="start">*</span></label>
										</div>
										<div class="col-md-7">

											<select class="form-control" name="isEnable" [(ngModel)] = "roledetailsCreateModel.isenable">
											<option>--Please Select--</option>
											<option value="1">Yes</option>
											<option value="0">No</option>
										  
										</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									
									<div class="form-group row">
										<div class="col-md-5">
											<label>From Date<span class="start">*</span></label>
										</div>
										<div class="col-md-7">
											<my-date-picker name="fromDate" [options]="myDatePickerOptions" required [(ngModel)] = "roledetailsCreateModel.fromDate"></my-date-picker>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									
									<div class="form-group row">
										<div class="col-md-5">
											<label>To Date<span class="start">*</span></label>
										</div>
										<div class="col-md-7">
											<my-date-picker name="toDate" [options]="myDatePickerOptions" required [(ngModel)] = "roledetailsCreateModel.toDate"></my-date-picker>
										</div>
									</div>
								</div>
								
			
								
						<div class="col-md-12 text-center">
								<button class="btn btn-primary" [disabled] = "roledetailsCreateModel.role == '' || roledetailsCreateModel.isenable == '' || !creatRoleForm.form.valid" (click) = "createRoleMaster()"> Create</button>
						</div>
						
					</div>
				
				</div>
				<div class="content-heading-box">
					<h3> Role Details's List</h3>
					
					<ag-grid-angular class="ag-fresh" [gridOptions]="gridOptions" [rowData]="roleList"></ag-grid-angular>
				
				</div>
		
			
				</form>
				
				
		