<h2>
	
		Create Broker
	</h2>
	
	<p *ngIf="errorMsg">&nbsp;</p>
					<div *ngIf="errorMsg" class="form-group">
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ errorMsg }}
						</div>
					</div>
					<p *ngIf="successMsg">&nbsp;</p>
					<div *ngIf="successMsg" class="form-group">
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ successMsg }}
						</div>
					</div>
	
		<form role="form" #createbrokerForm="ngForm" >
						
					<div class="content-heading-box">
						<h3>Create Broker</h3>
						<div class="form-field-style text-center">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Name<span class="start">*</span></label>
										</div>
										<div class="col-md-8">
											<input type="text" name="brokerName"  required maxlength="35" [(ngModel)] = "brokerCreateModel.brokerName" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Gst No<span class="start">*</span></label>
										</div>
										<div class="col-md-4">
											<select class="form-control" name="Registered" (change)="ongstChange($event.target.value)">
												<option value="r">Registered</option>
												<option value="u">Unregistered</option>
											</select>
										</div>
										<div class="col-md-4">
											<input type="text" name="gst" [disabled] = "!enableGst" pattern="[a-zA-Z0-9 ]*" maxlength="15" [(ngModel)] = "brokerCreateModel.gst" class="form-control">
									
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>PAN NO<span class="start">*</span></label>
										</div>
										<div class="col-md-8">
											<input type="text" name="pan" pattern="[a-zA-Z0-9 ]*" maxlength="10" [(ngModel)] = "brokerCreateModel.pan" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Address </label>
										</div>
										<div class="col-md-8">
											<input type="text" name="address" maxlength="255" [(ngModel)] = "brokerCreateModel.address" class="form-control">
										</div>
									</div>
								</div>
								<!-- <div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Phone </label>
										</div>
										<div class="col-md-8">
											<input type="text" name="phone" pattern="[0-9]*" maxlength="10" [(ngModel)] = "brokerCreateModel.phone" class="form-control">
										</div>
									</div>
								</div> -->
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>E-mail</label>
										</div>
										<div class="col-md-8">
											<input type="text" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="100" [(ngModel)] = "brokerCreateModel.email" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group row">
										<div class="col-md-4 text-left">
											<label>Supplier<span class="start">*</span></label>
										</div>
										<div class="col-md-8">
												<div class="list-menu mukam-master" >
														
													<ul class="all-menus">
														<li *ngFor = "let inputParameter of inputParameters;">
															
													 <input type="checkbox" [value]="inputParameter.id" 
														(change)="onbrokerCheckbox(inputParameter,$event)">
																{{inputParameter.suppName}}
														 </li>
													</ul>
											
																													
												</div>
										
									</div>
							</div>
							
					
					</div>
						
	
			</div>
			<div class="row">
				   
				
	
			
					
					<div class="col-sm-12 text-center">
								<button class="btn btn-primary" [disabled] = "!createbrokerForm.form.valid || !brokerSelected" (click) = "createBroker()"> Create</button>
					</div>
							
				</div>
			</div>
					
		</div>
		<div class="content-heading-box">
						<h3>Broker's List</h3>
						<ag-grid-angular class="ag-fresh" [gridOptions]="gridOptions" [rowData]="brokerList"></ag-grid-angular>
						
					</div>
			
				
					</form>
					
					
					<div class="readingArea" *ngIf = "conditionClicked != ''">
							<div class="reading-popup">
	
									<div class="popupcontent">
											<div class="list-menu mukam-master">
											<ul class="all-menus">
												<span>
													<li *ngFor = "let brokerLists of brokerListid.suppliers;">
													<input type="checkbox" [value]="brokerLists.id" [checked]="brokerLists.isMapped == 'true'" (change)="onCheckboxChange($event)">
															{{brokerLists.suppName}}
															
													 </li>
													</span>
												</ul>
												</div>
									</div>
							
								<div class="popupfooter text-right"><button type="button" class="btn btn-sm btn-secondary" (click)="closeConditionDialog()">Cancel</button> <button type="button" class="btn btn-sm btn-success" (click)="updateCondition(conditionClicked)">Save</button></div>
							</div>
							
						</div>
					
			