			<h2>
				<a [routerLink]="['/jute/mrindent']" title='Jute' >Jute</a>
				> 
				Create Jute Purchase Order</h2>
				
				
				<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				
				
				<form role="form" #createPOform ="ngForm">
					
				<div class="content-heading-box">
					<h3>Purchase Order Details</h3>
					<div class="row form-field-style">
						<div class="col-md-6">
							<div class="form-group row">
								<div class="col-md-4"><label for="mrpoindent">Create PO<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="mrpoindent" id="mrpoindent" [(ngModel)] = "purchaseCreateModel.mrpoindent" required (change) = "pocreateTypeChange($event)">
									<option value="">--Please Select--</option>
									<option value="withindent">With Indent</option>
									<option value="withoutindent">Without Indent</option>
								</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" *ngIf = "purchaseCreateModel.mrpoindent != ''">
							<div class="form-group row">
								<div class="col-md-4"><label for="broker">Broker</label></div>
								<div class="col-md-8">
								<select class="form-control" name="broker" id="broker" [(ngModel)] = "purchaseCreateModel.brkr" (change) = "brokerChange($event)">
									<option value="">--Please Select--</option>
									<option *ngFor = "let brker of allBroker; let i = index" value="{{i}}">{{brker.brokerName}}</option>
								</select>
								</div>
							</div>
						</div>
					</div>
					
							
					
					
					<div class="row form-field-style" *ngIf = "purchaseCreateModel.mrpoindent != ''">
						<div class="col-md-6">
							<div class="form-group row">
								<div class="col-md-4"><label for="posupplier">Supplier<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="posupplier" id="posupplier" [(ngModel)] = "purchaseCreateModel.mrsupplier" (change) = "loadMukam($event)" required>
									<option value="">--Please Select--</option>
									<option *ngFor = "let supl of supplierListJute; let i = index" value="{{i}}" class="{{(supl.type!='J')?'fake':null}}">{{supl.name + "(" +supl.id+ ")"}}</option>
								</select>
								</div>
							</div>
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.mrpoindent == 'withoutindent'">
								<div class="col-md-4"><label for="vehicleType">Vehicle Type<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="vehicleType"  [(ngModel)] = "purchaseCreateModel.vehicleType" required id="vehicleType" (change)="vehicletypechange()">
									<option value="">--Please Select--</option>
									<option *ngFor = "let vehicle of allVehicles; let i = index;" value="{{i}}">{{vehicle.vehicleType}}</option>
								</select>
								</div>
							</div>
							
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != ''">
								<div class="col-md-4"><label for="mukamSelect">Unit Conversion<span class="start">*</span></label></div>
								<div class="col-md-8">
									<select class="form-control" name="convTpe" [(ngModel)] = "purchaseCreateModel.conversiontype" required (change) = "conversionChange($event)" >
										<option value="LOOSE" >LOOSE</option>
										<option value="BALE" >BALE</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="supplier">Credit Term</label></div>
								<div class="col-md-8">
									<div class="input-group">
									<input class="form-control" type="text" name="creditTerm" [(ngModel)] = "purchaseCreateModel.creditTerm" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" required>
									<span class="input-group-addon unit">Days</span>
									</div>
								</div>
							</div>
							<div class="row form-group" *ngIf = "purchaseCreateModel.selectedIndent != ''">
								<div class="col-md-4"><label for="makerSelection">Flight Charge</label></div>
								<div class="col-md-8">
								<input class="form-control" type="text" name="flightchage" [(ngModel)] = "purchaseCreateModel.flightcharge" maxlength="2" pattern="^\s*(?=.*[0-9])\d*(?:\.\d{1,2})?\s*$">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-4"><label for="makerSelection">Raised On<span class="start">*</span></label></div>
								<div class="col-md-8">
								<my-date-picker name="mydate" [options]="myDatePickerOptions" required [(ngModel)] = "purchaseCreateModel.createDate"></my-date-picker>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row" *ngIf="purchaseCreateModel.mrsupplier != ''">
								<div class="col-md-4"><label for="pomukam">Mukam<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="pomukam" id="pomukam" required [(ngModel)] = "purchaseCreateModel.mrmukam" (change)= "getIndentorItem($event)">
									<option value="">--Please Select--</option>
									<option *ngFor = "let mukam of mukams; let i = index;" value="{{i}}">{{mukam.mukamName}}</option>
								</select>
								</div>
							</div>
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.mrpoindent == 'withoutindent'">
								<div class="col-md-4"><label for="vehicleQuantity">Vehicle Quantity<span class="start">*</span></label></div>
								<div class="col-md-8">
								<input type="text" class="form-control" id="vehicleQuantity" name="vehicleQuantity" [(ngModel)] = "purchaseCreateModel.vehicleQuantity" pattern="^[1-9]+[0-9]*$" required (blur)="vehicleQuanchange()">
								</div>
							</div>
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.vehicleType != '' && purchaseCreateModel.mrpoindent == 'withoutindent'">
								<div class="col-md-4"><label for="itemDesc">PO Quantity<span class="start">*</span></label></div>
								<div class="col-md-4">
								<div class="input-group col-md-12">
									<input type="text" class="form-control" [(ngModel)] = "purchaseCreateModel.poQuantity" name="poQuantity" (change)="validatePOQuantity($event)"/>
									<span class="input-group-addon unit">{{Qunits.name}}</span>
								</div>
								</div>
								<div class="col-md-4">
								<div class="input-group col-md-12">
									<span class="form-control">{{(purchaseCreateModel.poQuantity)/10}}</span>
									<span class="input-group-addon unit">Ton</span>
								</div>
								</div>
							</div>
							<div class="form-group row" *ngIf="purchaseCreateModel.mrpoindent == 'withoutindent' && purchaseCreateModel.conversiontype == 'BALE' && purchaseCreateModel.mrmukam != '' && purchaseCreateModel.vehicleType != ''">
								<div class="col-md-4"><label for="itemDesc">PO Converted Quantity<span class="start">*</span></label></div>
								<div class="col-md-8">
								<div class="input-group col-md-12">
									<span class="form-control">{{Math.round((purchaseCreateModel.poQuantity)/ 1.5)}}</span>
									<span class="input-group-addon unit">BALE</span>
								</div>
								</div>
							</div>
							<div class="row form-group" *ngIf = "purchaseCreateModel.selectedIndent != ''">
								<div class="col-md-4"><label for="makerSelection">Discount</label></div>
								<div class="col-md-8">
								<div class="input-group">
								<input class="form-control" type="text" name="dischdr" [(ngModel)] = "purchaseCreateModel.discounthdr" max="100" pattern="^\s*(?=.*[0-9])\d*(?:\.\d{1,2})?\s*$">
								<span class="input-group-addon unit">%</span>
								</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="supplier">Delivery Timeline<span class="start">*</span></label></div>
								<div class="col-md-8">
									<div class="input-group">
									<input class="form-control" type="text" name="deliveryTime" [(ngModel)] = "purchaseCreateModel.deliveryTime" required pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$">
									<span class="input-group-addon unit">Days</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-heading-box" *ngIf = "purchaseCreateModel.mrpoindent == 'withindent' && purchaseCreateModel.mrmukam != ''">
					<div class="row form-field-style">
						<div class="col-md-6">
							<div class="form-group row">
								<div class="col-md-4"><label for="mrindent">Indent<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="mrindent" id="mrindent" [(ngModel)] = "purchaseCreateModel.mrIndent" (change) = "loadIndentLines($event)">
									<option value="">--Please Select--</option>
									<option *ngFor = "let indent of indentData; let i = index" value="{{i}}">{{prefix+'/Indent/'+indent.id}}</option>
								</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--add item form-->
				<div class="content-heading-box" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.vehicleType != '' && purchaseCreateModel.vehicleQuantity > 0 && purchaseCreateModel.mrpoindent == 'withoutindent'">
					<h3>Add Item</h3>
					<div class="row form-field-style">
						
						<div class="col-md-6">
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.mrpoindent == 'withoutindent'">
								<div class="col-md-4"><label for="itemDesc">Jute Type<span class="start">*</span></label></div>
								<div class="col-md-8">
								<select class="form-control" name="itemDesc" [(ngModel)] = "purchaseCreateModel.selectedmrItem" required (change)="getQuality($event)">
									<option value="">--Please Select--</option>
									<option *ngFor = "let item of itemData.items; let i = index;" value="{{i}}" >{{item.legacyItemCode +"_"+ item.name}}</option>
								</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-4"><label for="itemDesc">Quantity<span class="start">*</span></label></div>
								<div class="col-md-8">
								<div class="input-group col-md-12">
									<input type="text" class="form-control" name="quantity" [(ngModel)] = "purchaseCreateModel.selectedQuantity" required pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" max="{{looseMaxVal}}" *ngIf="purchaseCreateModel.conversiontype =='LOOSE'">
									<input type="text" class="form-control" name="quantity" [(ngModel)] = "purchaseCreateModel.selectedQuantity" required pattern="^(0|[1-9][0-9]*)$" max="{{baleMaxVal}}" *ngIf="purchaseCreateModel.conversiontype =='BALE'">
									<span class="input-group-addon unit" *ngIf="purchaseCreateModel.conversiontype =='LOOSE'">%</span>
									<span class="input-group-addon unit" *ngIf="purchaseCreateModel.conversiontype =='BALE'">BALE</span>
								</div>
							</div>
						</div>
							
						</div>
						<div class="col-md-6">
							
							<div class="form-group row" > 
								<div class="col-md-4"><label for="itemGroupSelect">Quality<span class="start">*</span></label></div>
								<div class="col-md-8">
									<select class="form-control"  name="quality" [(ngModel)] = "purchaseCreateModel.selectedQuality" required>
										<option value="">--Please Select--</option>
										<option *ngFor = "let quality of itemQuality; let i = index;" value="{{i}}" >{{quality.name}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row" *ngIf="purchaseCreateModel.mrmukam != '' && purchaseCreateModel.selectedmrItem != ''">
								<div class="col-md-4"><label for="itemDesc">Stock<span class="start">*</span></label></div>
								<div class="col-md-8">
								<span class="form-control">{{itemData.items[purchaseCreateModel.selectedmrItem].stock}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-primary" *ngIf="(purchaseCreateModel.conversiontype =='BALE' && purchaseCreateModel.selectedQuantity <= baleMaxVal && baleMaxVal >= 0 && purchaseCreateModel.selectedQuantity > 0) || (purchaseCreateModel.conversiontype =='LOOSE' && purchaseCreateModel.selectedQuantity <= looseMaxVal && looseMaxVal >= 0 && purchaseCreateModel.selectedQuantity > 0)" [disabled] = "!createPOform.form.valid" (click) = "addItems()">Add Item</button>
						</div>
					</div>
					
				</div>
				
				<div class="content-heading-box" *ngIf = "addedItems && addedItems.length > 0">
					<h3>Line Items</h3>
					<div class="row form-group">
								<div class="col col-xs-8">
								</div>
								<div class="col col-xs-4 text-right"><span class="glyphicon glyphicon-search"></span>&nbsp;<input style="width:auto;"type="text" name="searchIndent" (keyup)="onQuickFilterChanged($event)" placeholder="Search"></div>
							</div>
					<ag-grid-angular class="ag-fresh" [columnDefs] = "columnDef" [gridOptions]="gridOptions" [rowData]="addedItems"></ag-grid-angular>
				</div>
				
				
				<p>&nbsp;</p>
				<div class="row">
						<div class="col-md-12 text-center">
						<button class="btn btn-primary" [disabled] = "addedItems.length == 0" (click) = "createpoclicked()">Create PO</button>
						</div>
					</div>
				</form>
			
				