<h2>
	<!-- <a href="/payroll" ng-reflect-router-link="/payroll" routerlink="/payroll">Payroll</a>
	> Create Parameter -->
	Create Submenu
</h2>
<p *ngIf="errorMsg">&nbsp;</p>
				<div *ngIf="errorMsg" class="form-group">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ errorMsg }}
					</div>
				</div>
				<p *ngIf="successMsg">&nbsp;</p>
				<div *ngIf="successMsg" class="form-group">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ successMsg }}
					</div>
				</div>
	<form role="form" #createSubmenuForm="ngForm" >
					
				<div class="content-heading-box">
					<h3>Create Submenu</h3>
					<div class="row form-field-style">
						<div class="col-md-6">
								<div class="form-group row">
										<div class="col-md-5">
											<label>Menu<span class="start">*</span></label>
										</div>
										<div class="col-md-7">
											<select class="form-control" name="menuId" [(ngModel)] = "submenuCreateModel.menuId" >
												<option value="">--Please Select--</option>
												<option *ngFor = "let menus of menuList;" [value]="menus.id">{{menus.menu}}</option>
											</select>
										</div>
								</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
									<div class="col-md-4 text-right">
										<label>Sub Menu<span class="start">*</span></label>
									</div>
									<div class="col-md-8">
										<input type="text" name="subMenu" required pattern="[a-zA-Z][a-zA-Z ]+" maxlength="25" [(ngModel)] = "submenuCreateModel.subMenu" class="form-control">
									</div>
							</div>
					</div>
				
					<div class="col-md-12 text-center">
								<button class="btn btn-primary" [disabled] = "submenuCreateModel.menuId == '' || submenuCreateModel.subMenu == '' || !createSubmenuForm.form.valid" (click) = "createSubmenumaster()"> Create</button>
						</div>
					
					
					
						
					</div>
				
				</div>
				<div class="content-heading-box">
					<h3>Submenu's List</h3>
					<ag-grid-angular class="ag-fresh" [gridOptions]="gridOptions" [rowData]="submenuList"></ag-grid-angular>
					
				</div>
		
			
				</form>
				
				
		